/* line 17, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../app/assets/stylesheets/_base.sass */
ol {
  list-style: decimal;
}

@font-face {
  font-family: "Brawler";
  font-style: normal;
  font-weight: normal;
  src: local("Brawler");
  src: url("fonts/Brawler.woff") format("woff");
}

/* line 5, ../../app/assets/stylesheets/_entities.sass */
div.entity {
  margin-right: 10%;
  margin-bottom: 2em;
}
/* line 8, ../../app/assets/stylesheets/_entities.sass */
div.entity p {
  margin-bottom: 1em;
}
/* line 10, ../../app/assets/stylesheets/_entities.sass */
div.entity h1 {
  font-size: 40px;
  border-bottom: thin black solid;
}
/* line 13, ../../app/assets/stylesheets/_entities.sass */
div.entity h2 {
  font-size: 34px;
}
/* line 15, ../../app/assets/stylesheets/_entities.sass */
div.entity h3 {
  font-size: 26px;
}
/* line 17, ../../app/assets/stylesheets/_entities.sass */
div.entity div.children {
  margin-left: 1em;
}

/* line 21, ../../app/assets/stylesheets/_entities.sass */
div.actions {
  margin-top: 20px;
}
/* line 23, ../../app/assets/stylesheets/_entities.sass */
div.actions a {
  display: inline-block;
  background-color: #eeeeee;
  padding: 5px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../app/assets/stylesheets/_entities.sass */
div.quick-search {
  margin-right: 10%;
  margin-bottom: 2em;
  padding: 10px;
  background-color: #eeeeee;
}
/* line 34, ../../app/assets/stylesheets/_entities.sass */
div.quick-search input[type=text] {
  font-family: Geneva, Verdana, "Lucida Sans", sans-serif;
  font-size: 24px;
  width: 100%;
}

/* line 38, ../../app/assets/stylesheets/_entities.sass */
div.form {
  margin-top: 20px;
}
/* line 43, ../../app/assets/stylesheets/_entities.sass */
div.form div.field label {
  width: 120px;
  padding-right: 20px;
  font-weight: bold;
  margin-top: 5px;
  text-align: right;
}
/* line 49, ../../app/assets/stylesheets/_entities.sass */
div.form div.field label, div.form div.field input, div.form div.field textarea {
  display: inline-block;
  vertical-align: top;
}
/* line 52, ../../app/assets/stylesheets/_entities.sass */
div.form div.field input, div.form div.field textarea {
  width: 400px;
  border: medium silver solid;
  font-family: "Brawler", "Georgia", "Palatino", "serif";
  font-size: 18px;
  line-height: 1.5em;
}
/* line 57, ../../app/assets/stylesheets/_entities.sass */
div.form div.actions {
  margin-left: 145px;
}
