%h1 Dragonhunt Knowledge Base
%p All the people and places of the Dragonhunt world, at your fingertips, so to speak.

%div.content
  %h2
    %a{:href => "characters"} Characters
  %h2
    %a{:href => "cities"} Cities
  %h2
    %a{:href => "regions"} Regions
  %h2
    %a{:href => "groups"} Groups
