// styles used to list, show, and edit all entities, such as characters,
// cities, regions, and groups
@import base

div.entity
  margin-right: 10%
  margin-bottom: 2em
  p
    margin-bottom: 1em
  h1
    font-size: 40px
    border-bottom: thin black solid
  h2
    font-size: 34px
  h3
    font-size: 26px
  div.children
    margin-left: 1em


div.actions
  margin-top: 20px
  a
    display: inline-block
    background-color: #eee
    padding: 5px 20px
    @include border-radius()

div.quick-search
  margin-right: 10%
  margin-bottom: 2em
  padding: 10px
  background-color: #eee
  input[type=text]
    @include quickSearchFont
    width: 100%

div.form
  $labelWidth: 120px
  margin-top: 20px

  div.field
    .mentions-input-box
      left: 145px
      top: -25px
    label
      width: $labelWidth
      padding-right: 20px
      font-weight: bold
      margin-top: 5px
      text-align: right
    label, input, textarea
      display: inline-block
      vertical-align: top
    input, textarea
      width: 400px
      border: medium silver solid
      @include contentFont

  div.actions
    margin-left: $labelWidth + 25px
